.container {
  position: absolute;
  width: 220px;
  left: 10px;
  height: 300px;
  text-align: left;
  display: grid;
  grid-template-rows: auto 50px;
}

.container TaskList {
  grid-row: 1 / 2;
}

.container TaskAdder {
  grid-row: 2 / 3;
}

