.taskInput{
  padding-bottom: 5px;
}

.taskInput input[type="text"] {
  padding: 5px 10px;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  transition: border 0.3s;
  margin-bottom: 10px;
}
