.container {
  font-family: 'Segoe UI', 'Calibri', 'sans-serif';
  vertical-align: bottom;
  padding: 10px;

}
.container li {
  display: grid;
  grid-template-columns: 20px 120px 50px;
}

.container li.running {
  font-weight: bold;
}

.container li div.shortcut {
  grid-column: 1 / 2;
}

.container li div.task {
  grid-column: 2 / 3;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 5px;
}

.container li div.time {
  grid-column: 3 / 4;
}
